@model IEnumerable<Project_62133026.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var i = 0;
}

<h2 class="text-center">THÔNG TIN HÓA ĐƠN</h2>

<div id="tbIndex" class="container">
    <table class="table table-bordered table-striped table-responsive" id="tbData">
        <thead>
            <tr style="text-align:center;">
                <th>STT</th>
                <th>
                    Mã hóa đơn
                </th>
                <th>
                    Tên khách hàng
                </th>
                <th>
                    Ngày giao dịch
                </th>

                <th>Chức năng</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <th class="text-center" scope="row">
                    @{ i++;}
                    @i
                </th>

                <td>
                    @Html.DisplayFor(modelItem => item.maHD)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.tenKH)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ngayGiaoDich)
                </td>

                <td>
                    @Html.ActionLink("Chi tiết", "../CTHDs_62133026/Index", new { id = item.maHD }) 
                    
                </td>
            </tr>
        }

    </table>
</div>
